<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招标公告正文</title>
</head>
<style>
    h1
    {
        padding-top: 30px;
        font-size: 20px;
        color:#00008b;
        font-weight: normal;
        text-align: center;
    }
    .x
    {
        word-wrap:break-word;
        white-space: pre-wrap;
    }
    .y
    {
        display: block;
        text-align: right;
    }
</style>
<body>
    {% for aa in article %}
        <h1>{{ aa.title }}</h1>
        <div class="x">{{ aa.text }}</div>
        <div class="y"><a href="{{ aa.web }}" target="_blank">原文链接请点击这里</a></div>
    {% endfor %}
</body>
</html>